/* =======================================
  Base Styles
========================================== */

* {
  box-sizing: border-box;
}

html {
  font: .85rem/1.5 'Work Sans', sans-serif;
  color: #222;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
  margin-bottom: 1.3em;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  vertical-align: top;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

/* =======================================
  Layout Styles
========================================== */

/* ---------------------
  Layout Containers
------------------------ */

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* ---------------------
  Header
------------------------ */

.main-header {
  padding: .8rem 0;
  text-align: center;
}

/* --- Logo --- */
.logo {
  display: block;
  width: 4.5rem;
  margin: .67rem auto;
}

/* ----- Navigation ----- */
.main-nav h2 { /* The screen reader needs it, but the visual user doesn't */
  position: absolute;
  left: -200rem;
}

.main-nav a {
  display: block;
  font-weight: 600;
  padding: 1em;
  transition: .3s;
  color: #a3a3a3;
  text-transform: uppercase;
}

.main-nav a:hover {
  color: inherit;
}

/* ---------------------
  Hero
------------------------ */

.hero {
  height: calc(100vh - 20.166rem); /* Taking the whole viewport height excluding the navigation bar height */
  background: url(../media/cover.jpeg) no-repeat 60% / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}

.hero-content {
  text-align: center;
  color: #fff;
  font-weight: 600;
}

.hero-content .title {
  text-transform: uppercase;
}

.hero-content a {
  color: #aaa;
  padding: .7em 0;
  transform: perspective(1px) translateZ(0);
  position: relative;
  text-transform: uppercase;
}

.hero-content a:before {
  background: #a3a3a3;
}

/* ---------------------
  Features
------------------------ */

.features {
  background-color: #f9f9f9;
}

.features h2 { /* The screen reader needs it, but the visual user doesn't */
  position: absolute;
  left: -200rem;
}

.features-content {
  text-transform: uppercase;
  text-align: center;
  color: #676767;
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
}

.feature {
  padding: .6em 1.7em;
  vertical-align: middle;
  font-weight: 500;
}

.feature span {
  display: inline-block;
}

/* --- Icons --- */
.feature .fa {
  font-size: 2.5em;
  margin-right: 0.35em;
  padding: .1em 0;
}

.features .fa,
.features span {
  vertical-align: middle;
}

/* ---------------------
  Gallery
------------------------ */

.gallery {
  position: relative;
  margin: 2rem 0;
}

/* ----- Description Text ----- */
.description-text {
  display: none;
  text-transform: uppercase;
}

/* --- Gallery Item --- */
.gallery-item {
  position: relative;
  margin: 2rem 0;
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

/* --- Gallery Text --- */

.image-text {
  text-transform: uppercase;
  position: absolute;
  left: 10%;  bottom: 10%;
  font-weight: 600;
}

.gallery-item h3 {
  font-size: 10vw;;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -0.07em;
  display: inline;
  background-color: #fff;
  padding: .2em;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.gallery-item a {
  display: inline-block;
  padding: .5em 0;
  margin-top: 1em;
  color: #C3684B;
}